{"http_interactions":[{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=1510%20Blake%20St,Denver,CO,80202\u0026language=en\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic,p=1"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"1510\",\n               \"short_name\" : \"1510\",\n               \"types\" : [ \"street_number\" ]\n            },\n            {\n               \"long_name\" : \"Blake Street\",\n               \"short_name\" : \"Blake St\",\n               \"types\" : [ \"route\" ]\n            },\n            {\n               \"long_name\" : \"LoDo\",\n               \"short_name\" : \"LoDo\",\n               \"types\" : [ \"neighborhood\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Denver\",\n               \"short_name\" : \"Denver\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Denver County\",\n               \"short_name\" : \"Denver County\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Colorado\",\n               \"short_name\" : \"CO\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"80202\",\n               \"short_name\" : \"80202\",\n               \"types\" : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\" : \"1510 Blake Street, Denver, CO 80202, USA\",\n         \"geometry\" : {\n            \"location\" : {\n               \"lat\" : 39.7496354,\n               \"lng\" : -105.0001058\n            },\n            \"location_type\" : \"ROOFTOP\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 39.75098438029149,\n                  \"lng\" : -104.9987568197085\n               },\n               \"southwest\" : {\n                  \"lat\" : 39.74828641970849,\n                  \"lng\" : -105.0014547802915\n               }\n            }\n         },\n         \"place_id\" : \"ChIJq7eg-cR4bIcRnuNXt5uiEvc\",\n         \"types\" : [ \"street_address\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 22:25:57 GMT"}],"recorded_with":"VCR 2.9.3"}