{"http_interactions":[{"request":{"method":"get","uri":"https://projects.propublica.org/nonprofits/api/v1/organizations/142007220.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Mon, 26 Jan 2015 15:44:21 GMT"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"organization\":{\"ein\":142007220,\"id\":142007220,\"name\":\"PRO PUBLICA INC\",\"careofname\":null,\"address\":\"ONE EXCHANGE PLZ 55 BROADWAY 23 FL\",\"city\":\"NEW YORK\",\"state\":\"NY\",\"zipcode\":\"10006-0000\",\"exemption_number\":0,\"subsection_code\":3,\"affiliation_code\":3,\"classification_codes\":\"1000\",\"ruling_date\":\"2008-02-01\",\"deductibility_code\":1,\"foundation_code\":15,\"activity_codes\":\"000000000\",\"organization_code\":1,\"exempt_organization_status_code\":1,\"tax_period\":null,\"asset_code\":6,\"income_code\":8,\"filing_requirement_code\":0,\"pf_filing_requirement_code\":0,\"accounting_period\":12,\"asset_amount\":null,\"income_amount\":null,\"revenue_amount\":null,\"ntee_code\":\"A20\",\"sort_name\":null,\"created_at\":\"2015-01-22T20:14:02.000Z\",\"updated_at\":\"2015-01-22T20:14:02.000Z\"},\"filings_with_data\":[{\"tax_prd\":201212,\"tax_prd_yr\":2012,\"formtype\":0,\"pdf_url\":\"https://projects.propublica.org/nonprofits/download-filing?path=2013_08_T%2F14-2007220_990T_201212.pdf\",\"updated\":\"2015-01-22T21:16:49.000Z\",\"totrevenue\":10955982,\"totfuncexpns\":9884450,\"totassetsend\":4529443,\"totliabend\":119078,\"pct_compnsatncurrofcr\":0.0,\"tax_pd\":null,\"subseccd\":3,\"unrelbusinccd\":\"Y\",\"initiationfees\":0,\"grsrcptspublicuse\":0,\"grsincmembers\":0,\"grsincother\":0,\"totcntrbgfts\":10920019,\"totprgmrevnue\":0,\"invstmntinc\":50,\"txexmptbndsproceeds\":0,\"royaltsinc\":17096,\"grsrntsreal\":0,\"grsrntsprsnl\":0,\"rntlexpnsreal\":0,\"rntlexpnsprsnl\":0,\"rntlincreal\":0,\"rntlincprsnl\":0,\"netrntlinc\":0,\"grsalesecur\":0,\"grsalesothr\":0,\"cstbasisecur\":0,\"cstbasisothr\":0,\"gnlsecur\":0,\"gnlsothr\":0,\"netgnls\":0,\"grsincfndrsng\":0,\"lessdirfndrsng\":0,\"netincfndrsng\":0,\"grsincgaming\":0,\"lessdirgaming\":0,\"netincgaming\":0,\"grsalesinvent\":0,\"lesscstofgoods\":0,\"netincsales\":0,\"miscrevtot11e\":18817,\"compnsatncurrofcr\":0,\"othrsalwages\":0,\"payrolltx\":0,\"profndraising\":0,\"txexmptbndsend\":0,\"secrdmrtgsend\":0,\"unsecurednotesend\":0,\"retainedearnend\":0,\"totnetassetend\":4410365,\"nonpfrea\":\"07\",\"gftgrntsrcvd170\":46144525,\"txrevnuelevied170\":0,\"srvcsval170\":0,\"grsinc170\":70024,\"grsrcptsrelated170\":0,\"totgftgrntrcvd509\":0,\"grsrcptsadmissn509\":0,\"txrevnuelevied509\":0,\"srvcsval509\":0,\"subtotsuppinc509\":0,\"totsupp509\":0,\"ein\":142007220},{\"tax_prd\":201112,\"tax_prd_yr\":2011,\"formtype\":0,\"pdf_url\":\"https://projects.propublica.org/nonprofits/download-filing?path=2012_08_EO%2F14-2007220_990_201112.pdf\",\"updated\":\"2015-01-22T20:59:45.000Z\",\"totrevenue\":10142780,\"totfuncexpns\":9651650,\"totassetsend\":3591151,\"totliabend\":252318,\"pct_compnsatncurrofcr\":0.0,\"tax_pd\":null,\"subseccd\":3,\"unrelbusinccd\":\"Y\",\"initiationfees\":0,\"grsrcptspublicuse\":0,\"grsincmembers\":0,\"grsincother\":0,[...]
