{"http_interactions":[{"request":{"method":"get","uri":"https://projects.propublica.org/nonprofits/api/v1/organizations/10563036.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Last-Modified":["Mon, 26 Jan 2015 15:44:21 GMT"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"organization\":{\"ein\":10563036,\"id\":10563036,\"name\":\"GODS CLIP CHRISTIAN LADIES IN PRAYER\",\"careofname\":\"% ADA TORRES\",\"address\":\"5826 SANTANA DR\",\"city\":\"COLORADO SPGS\",\"state\":\"CO\",\"zipcode\":\"80923-7635\",\"exemption_number\":0,\"subsection_code\":3,\"affiliation_code\":1,\"classification_codes\":\"1000\",\"ruling_date\":\"2003-06-01\",\"deductibility_code\":1,\"foundation_code\":15,\"activity_codes\":\"000000000\",\"organization_code\":1,\"exempt_organization_status_code\":1,\"tax_period\":null,\"asset_code\":0,\"income_code\":0,\"filing_requirement_code\":2,\"pf_filing_requirement_code\":0,\"accounting_period\":12,\"asset_amount\":0,\"income_amount\":0,\"revenue_amount\":0,\"ntee_code\":\"F30\",\"sort_name\":null,\"created_at\":\"2015-01-22T20:28:54.000Z\",\"updated_at\":\"2015-01-22T20:28:54.000Z\"},\"filings_with_data\":[{\"tax_prd\":201012,\"tax_prd_yr\":2010,\"formtype\":1,\"pdf_url\":\"https://projects.propublica.org/nonprofits/download-filing?path=2013_03_EO%2F01-0563036_990EZ_201012.pdf\",\"updated\":\"2015-01-22T21:11:44.000Z\",\"totrevenue\":1525,\"totfuncexpns\":320,\"totassetsend\":2715,\"totliabend\":0,\"pct_compnsatncurrofcr\":-0.001,\"subseccd\":3,\"totcntrbs\":1525,\"prgmservrev\":0,\"duesassesmnts\":0,\"othrinvstinc\":0,\"grsamtsalesastothr\":0,\"basisalesexpnsothr\":0,\"gnsaleofastothr\":0,\"grsincgaming\":0,\"grsrevnuefndrsng\":0,\"direxpns\":0,\"netincfndrsng\":0,\"grsalesminusret\":0,\"costgoodsold\":0,\"grsprft\":0,\"othrevnue\":0,\"totrevnue\":1525,\"totexpns\":320,\"totexcessyr\":1205,\"othrchgsnetassetfnd\":0,\"totnetassetsend\":2715,\"unrelbusincd\":0,\"initiationfee\":0,\"grspublicrcpts\":0,\"nonpfrea\":\"00\",\"gftgrntrcvd170\":null,\"txrevnuelevied170\":0,\"srvcsval170\":0,\"grsinc170\":0,\"grsrcptsrelatd170\":null,\"totgftgrntrcvd509\":0,\"grsrcptsadmiss509\":null,\"txrevnuelevied509\":0,\"srvcsval509\":0,\"subtotsuppinc509\":0,\"totsupp509\":0,\"ein\":10563036}],\"filings_without_data\":[],\"data_source\":\"ProPublica Nonprofit Explorer API: https://projects.propublica.org/nonprofits/api/\\nIRS Exempt Organizations Business Master File Extract (EO BMF): http://www.irs.gov/uac/SOI-Tax-Stats-Exempt-Organizations-Business-Master-File-Extract-(EO-BMF)\\nIRS Annual Extract of Tax-Exempt Organization Financial Data: http://www.irs.gov/uac/SOI-Tax-Stats-Annual-Extract-of-Tax-Exempt-Organization-Financial-Data\",\"api_version\":1}"},"http_version":null},"recorded_at":"Wed, 06 May 2015 16:18:51 GMT"},[...]
