{"http_interactions":[{"request":{"method":"get","uri":"http://api.yelp.com/v2/search?ll=39.749568939208984,-104.99996185302734,,,\u0026radius_filter=2000\u0026sort=2\u0026term=food","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"iCOT0t-0QgVzWPrJu3IB8w\", oauth_nonce=\"5662ad541c112bcb675e6ce001f577ad\", oauth_signature=\"QX7eVPt0HuuAS93xw2yU6gP1dAY%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1430612033\", oauth_token=\"hT4OJUm-aEnaZyJ6N9oR9inkdr6dESD9\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Node":["web3-r1-iad1, api_com"], "Content-Type":["application/json; charset=UTF-8"], "X-Mode":["ro"], "X-Proxied":["extlb1-r1-iad1"]},"body":{"encoding":"UTF-8","string":"{\"region\": {\"span\": {\"latitude_delta\": 0.016602300000002401, \"longitude_delta\": 0.023103367227605531}, \"center\": {\"latitude\": 39.750760499999998, \"longitude\": -104.999415469442}}, \"total\": 40, \"businesses\": [{\"is_claimed\": true, \"distance\": 396.34916789921851, \"mobile_url\": \"http://m.yelp.com/biz/wikipita-denver\", \"rating_img_url\": \"http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png\", \"review_count\": 47, \"name\": \"Wikipita\", \"snippet_image_url\": \"http://s3-media3.fl.yelpcdn.com/photo/GnWeljH4jo-vDNi6ZzM4xA/ms.jpg\", \"rating\": 5.0, \"url\": \"http://www.yelp.com/biz/wikipita-denver\", \"location\": {\"city\": \"Denver\", \"display_address\": [\"16th St Mall\\u0026Arapahoe\", \"Northwest\", \"Denver, CO 80202\"], \"geo_accuracy\": 9.5, \"neighborhoods\": [\"Northwest\", \"CBD\"], \"postal_code\": \"80202\", \"country_code\": \"US\", \"address\": [\"16th St Mall\\u0026Arapahoe\"], \"coordinate\": {\"latitude\": 39.747869000000001, \"longitude\": -104.995887}, \"state_code\": \"CO\"}, \"phone\": \"9045663463\", \"snippet_text\": \"You won't find a better middle eastern/ Mediterranean sandwiches anywhere. All spices are brought from Israel. Absolutely delicious! And very...\", \"image_url\": \"http://s3-media3.fl.yelpcdn.com/bphoto/wedRS8UCezDtMWYZKJX4Ow/ms.jpg\", \"categories\": [[\"Food Stands\", \"foodstands\"]], \"display_phone\": \"+1-904-566-3463\", \"rating_img_url_large\": \"http://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png\", \"id\": \"wikipita-denver\", \"is_closed\": false, \"rating_img_url_small\": \"http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png\"}, {\"is_claimed\": true, \"distance\": 1022.5239512542987, \"mobile_url\": \"http://m.yelp.com/biz/ians-pizza-denver-2\", \"rating_img_url\": \"http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png\", \"review_count\": 97, \"name\": \"Ian's Pizza\", \"snippet_image_url\": \"http://s3-media1.fl.yelpcdn.com/photo/lFKvcnttKr4ojHAZ4gMHfA/ms.jpg\", \"rating\": 4.5, \"url\": \"http://www.yelp.com/biz/ians-pizza-denver-2\", \"location\": {\"city\": \"Denver\", \"display_address\": [\"2210 Blake St\", \"Five Points\", \"Denver, CO 80205\"], \"geo_accuracy\": 9.5, \"neighborhoods\": [\"Five Points\", \"Northwest\"], \"postal_code\": \"80205\", \"country_code\": \"US\", \"address\": [\"2210 Blake St\"], \"coordinate\": {\"latitude\": 39.7562312792762, \"longitude\": -104.99171739106001}, \"state_code\": \"CO\"}, \"menu_date_updated\": 1417257357, \"phone\": \"3032969000\", \"snippet_text\": \"I love Ian's Pizza. I love it when I'm downtown and starved and just need some cheesy greasy funky goodness!\\n\\nI always say I want the Mac and cheese when I...\", \"image_url\": \"http://s3-media2.fl.yelpcdn.com/bphoto/J41lqvf_0g96XzvDM4Qt9A/ms.jpg\", \"categories\": [[\"Pizza\", \"pizza\"]], \"display_phone\": \"+1-303-296-9000\", \"rating_img_url_large\": \"http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png\", \"menu_provider\": \"single_platform\", \"id\": \"ians-pizza-denver-2\", \"is_closed\": false, \"rating_img_url_small\": \"http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png\"}, {\"is_claimed\": true, \"distance\": 403.31462701898977, \"mobile_url\": \"http://m.yelp.com/biz/brava-pizzeria-della-strada-denver\", \"rating_img_url\": \"http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png\", \"review_count\": 64, \"name\": \"Brava! [...]
