{"http_interactions":[{"request":{"method":"get","uri":"http://api.yelp.com/v2/search?location=Denver","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["OAuth oauth_consumer_key=\"iCOT0t-0QgVzWPrJu3IB8w\", oauth_nonce=\"169c1ceb8c668b9b22fe7a9b250413c2\", oauth_signature=\"UH4B19TuL43zsQyj087vELNi5Zo%3D\", oauth_signature_method=\"HMAC-SHA1\", oauth_timestamp=\"1430611437\", oauth_token=\"hT4OJUm-aEnaZyJ6N9oR9inkdr6dESD9\", oauth_version=\"1.0\""]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Node":["web102-r10-sfo2, api_com"], "Content-Type":["application/json; charset=UTF-8"], "X-Mode":["ro"], "X-Proxied":["extlb1-r4-sfo2"]},"body":{"encoding":"UTF-8","string":"{\"region\": {\"span\": {\"latitude_delta\": 0.096121299999992971, \"longitude_delta\": 0.11013805000001753}, \"center\": {\"latitude\": 39.713927499999997, \"longitude\": -104.97543924999999}}, \"total\": 38269, \"businesses\": [{\"is_claimed\": true, \"rating\": 5.0, \"mobile_url\": \"http://m.yelp.com/biz/aikopops-denver-3\", \"rating_img_url\": \"http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png\", \"review_count\": 79, \"name\": \"AikoPops\", \"snippet_image_url\": \"http://s3-media3.fl.yelpcdn.com/photo/tYrbG0JCBNvUoEejbQ7_iA/ms.jpg\", \"rating_img_url_small\": \"http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png\", \"url\": \"http://www.yelp.com/biz/aikopops-denver-3\", \"menu_date_updated\": 1417120768, \"phone\": \"3039966400\", \"snippet_text\": \"My girlfriend and I have been here three out of the last five weekends, and this place is quickly becoming our favorite sandwich shop... The sandwiches are...\", \"image_url\": \"http://s3-media3.fl.yelpcdn.com/bphoto/2W0l8_-VWQ9mvveFgcubNg/ms.jpg\", \"categories\": [[\"Ice Cream \\u0026 Frozen Yogurt\", \"icecream\"], [\"Sandwiches\", \"sandwiches\"], [\"Pop-up Shops\", \"popupshops\"]], \"display_phone\": \"+1-303-996-6400\", \"rating_img_url_large\": \"http://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png\", \"menu_provider\": \"single_platform\", \"id\": \"aikopops-denver-3\", \"is_closed\": false, \"location\": {\"city\": \"Denver\", \"display_address\": [\"1284 S Pearl St\", \"Southwest\", \"Denver, CO 80210\"], \"geo_accuracy\": 8.0, \"neighborhoods\": [\"Southwest\"], \"postal_code\": \"80210\", \"country_code\": \"US\", \"address\": [\"1284 S Pearl St\"], \"coordinate\": {\"latitude\": 39.693213999999998, \"longitude\": -104.980087}, \"state_code\": \"CO\"}}, {\"is_claimed\": true, \"rating\": 4.5, \"mobile_url\": \"http://m.yelp.com/biz/kitchen-table-cafe-denver\", \"rating_img_url\": \"http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png\", \"review_count\": 224, \"name\": \"Kitchen Table Cafe\", \"snippet_image_url\": \"http://s3-media2.fl.yelpcdn.com/photo/XIJY5L1XAqUPnWDd8XARCA/ms.jpg\", \"rating_img_url_small\": \"http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_s[...]
[...]
