<div class="container top">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center main-title notice">Socialteering</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h2 class ="text-center item"><em>Social Volunteering Made Easy and Convienent</em></h2>
</div>

<div class="container-fluid">
  <div class="row middle">
    <div class="col-md-4">
      <h2 class="values">Socialteering Values</h2>
      <h3><i class="glyphicon glyphicon-tree-deciduous"></i> Do <span class="notice">Good</span> Deeds</h3>

      <h3><i class="glyphicon glyphicon-heart"></i>  Be a <span class="notice">Good</span> Person </h3>
      <h3><i class='glyphicon glyphicon-user'></i> Meet <span class="notice">Good</span> People</h3>
      <h3><i class='glyphicon glyphicon-sunglasses'></i> Have a <span class="notice">Good</span> Time</h3>
      <h3><i class="glyphicon glyphicon-globe"></i> Make Your Community <span class="notice">Good</span></h3>
    </div>
    <div class="col-md-8">
      <h2 class="values">Backstory:</h2>
      <p class="lead">The modern generation is a fast paced one and technology has made simple with a click of a button; execpt finding volunteer opporutunities. Pair that with the unpredicability of work and social schedules. Makes it hard for the millenials to volunteer. </p>
      <h2 class="values notice">Mission:</h2>
      <p class="lead notice"><strong>Our mission is to help facilitate the next generation of volunteers for your organization. By making it easy, fast and convient for young people to become involved with your organization.</strong></p>
    </div>
  </div> <!-- row well well-lg -->
</div> <!-- container-fluid -->

<div class="container">
  <h1 class = "text-center featured team">The Socialteering Team</h1>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h3 class="text-center">Paul Grever</h3>
      <%=image_tag('paul.png', class: "img-responsive team-image center-block img-circle bw")%>
      <h4 class="text-center">Founder</h4>
      <p><em>Founded Socialteering is 2014, he was volunteering and discovered there were two types of volunteers: the workers and the socializers. He thought why do these groups have to be seperate? Volunteering should be social. </em></p>
    </div>
  </div>
</div>