
  <div class="hero-unit1">
    <h1 class= "hero-text text-center">Do <span class="notice">good</span> deeds, meet <span class="notice">good</span> people, have a <span class="notice">good</span> time</h1>
    <h4 class="text-center sub-notice "><em>community volunteering events with a social emphasis </em></h4>
    <%= button_to "FIND UPCOMING EVENTS", events_path, method: :get, class: "btn btn-lg btn-landing center-block"  %>
  </div>


<div class="panel white-back">
  <div class=" jumbotron" id="no-marg">
    <h2 class="text-center second-head">A Social Volunteer Experience</h2>
    <div class="col-lg-12">
      <p class="text-center"><em>Socialteering partners with local community organizations to get volunteers out in the field. Then provides an opportunity at a local business to meet your fellow volunteers.</em></p>
    </div>
    <div class="row">
      <div class=" col-lg-3 point">
        <h4 class="text-center">YOUR CONVENIENCE</h4>
        <p class = "text-center">Discover uniqe volunteer opportunities that cater to your busy schedule. Then make a difference in your neighborhood.</p>
      </div>
      <div class="col-lg-4 point">
        <h4 class="text-center">YOUR COMMUNITY</h4>
        <p class="text-center">Make your community better! Find local charities, community organizations and non-profits working to improve your community.</p>
      </div>
      <div class="col-lg-3 point">
        <h4 class="text-center">YOUR NEIGHBORS</h4>
        <p class="text-center">Get the opportunity to socialize with your neighbors that are working beside you to imrove the community.</p>
      </div>
    </div>
  </div>
</div>

<div class="row no-pad">
  <div class="hero-unit2">
    <h1 class= "hero-text text-center">
      <span class="notice">Local</span> businesses and <span class="notice">community</span> organizations make a difference</h1>
    <h4 class="text-center sub-notice "><em>Get to know your neighbors by working side by side then hanging out.</em></h4>
    <%= button_to "BECOME A MEMBER", "/auth/facebook", method: :get, class: "btn btn-lg btn-landing center-block"  %>
  </div>
</div>


