  <div class="hero-unit5">
    <h1 class= "hero-text5 text-center">Attract new <span class="notice">volunteers</span> and progress your social <span class="notice">mission</span></h1>
    <h4 class="text-center sub-notice "><em>get new volunteers working on one of your short term projects, then turn them into <span class="notice">life time supporters</span></em></h4>
    
      <div class="btn btn-lg btn-landing  center-text col-sm-offset-5 col-sm-2 " id="toggler-btn"> FIND OUT HOW</div>
  </div>

<div id="toggler">
  <div class="jumbotron" id="no-marg">
    <h2 class="text-center second-head">Benefits for your organization</h2>
    <div class="col-lg-12 ">
      <p class="text-center"><em>Socialteering partners with non-profit organizations, charaties and community organizations. We do prefer 501(c)(3) tax exempt organizations to help our business partners</em></p>
    </div>
    <div class="row container-fluid">
      <div class=" col-lg-3 point reverse-block">
        <h4 class="text-center">Complete Projects</h4>
        <p class = "text-center">Host as many single day projects as you want. Remember completing many small projects can turn into something huge! </p>
      </div>
      <div class="  side-pads col-lg-4 point reverse-block">
        <h4 class="text-center">Recruit New Volunteers</h4>
        <p class="text-center">The young professional is used to technology making things easy for them. The are hard to commit, but a single day project is a great way to introduce the younger generation to your organization and get them in your pipeline.</p>
      </div>
      <div class="col-lg-3 point reverse-block">
        <h4 class="text-center">Expand your donation base</h4>
        <p class="text-center">Collect the information from the attendees and add them to your database for a whole new generation of volunteers who are proven to support your cause.</p>
      </div>
    </div>
      <%= button_to "CREATE A SOCIALTEERING EVENT FOR YOUR ORGANIZATION", "", method: :get, class: "btn btn-lg btn-landing center-block button-pad btn-lg"  %>

  </div>
</div>