  <div class="hero-unit5">
    <h1 class= "hero-text5 text-center">Attract new <span class="notice">volunteers</span> and progress your social <span class="notice">mission</span></h1>
    <h4 class="text-center sub-notice "><em>get new volunteers working on one of your short term projects, then turn them into <span class="notice">life time supporters</span></em></h4>
    
      <div class="btn btn-lg btn-landing  center-text col-sm-offset-5 col-sm-2 " id="toggler-btn"> FIND OUT HOW</div>
  </div>

<div id="toggler">
  <div class="jumbotron no-marg">
    <h2 class="text-center second-head">Benefits for your business</h2>
    <div class="col-lg-12 ">
      <p class="text-center"><em>As a business owner you are in the position to provide a gathering place for those working to improve your neighborhood. Socialteering is looking for businesses that care about their community and want to make it better.</em></p>
    </div>
    <div class="row container-fluid">
      <div class=" col-lg-3 point reverse-block">
        <h4 class="text-center">New customers</h4>
        <p class = "text-center">Introduce new young customers to your business while supporting a cause they believe in. It's a great way to obtain long term potential customers.</p>
      </div>
      <div class="  side-pads col-lg-4 point reverse-block">
        <h4 class="text-center">Service Documentation</h4>
        <p class="text-center">Socialteering records the monetary donatations you have made toward a licensed 501(c)(3), pull that information for tax time. We can also provide this information upon request when it's time for liqour license renewal along with a letter of recommendation.</p>
      </div>
      <div class="col-lg-3 point reverse-block">
        <h4 class="text-center">Make a differnce</h4>
        <p class="text-center">Provide support for local charities, non-profits and community organization that work hard to make your community better. </p>
      </div>
    </div>
      <%= button_to "BECOME A SOCIALTEERING BUSINESS", "", method: :get, class: "btn btn-lg btn-landing center-block button-pad btn-lg"  %>

  </div>
</div>