<div class="container-fluid top">
  <div class="row">
    <h1 class="text-center custom-jumbo"><span class="notice">Socialteering</span> Events</h1>
    <p class="text-center custom-jumbo-p">Find upcoming volunteer events in your neighborhood that have a fun social gathering afterwards.</p>
  </div>
</div>

<div class="container-fluid hero-unit3">
    <div class="row top">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
          <% @events.each do |event| %>
            <% @event = event %>
            <%= render  'partials/event_lister', locals: {event: @event} %>
          <% end %>
        </ul>
      </div>
    </div>
</div>