@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: Avenir;
  src: local("./fonts/AvenirNextLTPro-Regular.otf");
}

$site-white: #e1e3e3;
$site-brown: #544d3b;
$site-black: #262626;
$site-tan: #a48e74;
$site-orange: #ff9e43;
$site-cream: #ffd37c;
$site-light-grey: #f4f7fb;
$site-red: #e56c69;

.hero-unit5 {
  background-image: image-url("volunteer.png");
  background-size: cover;
  height: 650px;
  padding-top: 10px;
}

.hero-unit6 {
  background-image: image-url("get_started.png");
  background-size: cover;
  height: 650px;
  padding-top: 10px;
}


.hero-text5 {
  color: $site-white;
  padding-top: 450px;
  margin-top: 0;
}

.contact-info {
  background-color: $site-brown;
  color: $site-white;
  padding: 20px;
}

.style-links a { 
  color: $site-orange;
}

.style-links2 a { 
  color: $site-white;
}

.stand-out-dark-back { 
  color: $site-white;
}

.box {
  border-top: $site-brown 1px solid;
  padding: 20px;
}

.event-create {
  border-left: $site-brown 1px solid;
}

.full-height {
  padding-top: 30px;
  padding-bottom: 10px;
}

.spacer {
  padding: 20px;
}

.mini-space {
  padding-bottom: 14px;
}

.filler {
  padding-bottom: 45px;
}

.filler2 {
  padding-bottom: 20px;
}


