<div class="container top top">
  <div class= "row">
    <%= form_for(@organization) do |f| %>
      <div class="form-group">
        <%= f.label "EIN"%>
      
        <%= f.text_field :ein, class: "form-control", placeholder: "XXXXXXXXX"%>
        </div>
        <%= f.submit %>
    <% end %>
  </div>
</div>